.InputError {
  display: flex; //Default is row
  justify-content: flex-start;
  opacity: 0;
  transition: opacity 200ms ease-in;
  width: 100%;
}

.InputError p {
  font-size: 0.8rem;
  color: red;
  @media all and (min-width: 700px) {
    font-size: 1.4rem;
  }
}

.Active {
  opacity: 1;
}
