@use "../../../index.scss" as index;
.ParticipantsView {
  position: absolute;
  z-index: 1;
  background-color: index.$white-color;
  height: 100vh;
  display: none;
  width: 70%;

  h3 {
    width: 100%;
    color: index.$primary-color;
    background-color: index.$white-color;
    text-align: center;
  }
}

.Visible {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .ParticipantsView {
    display: none;
  }

  .MenuBar {
    display: none;
  }
}
