@use '../../index.scss' as index;
.SecondaryButton {
  color: index.$white-color;
  border: index.$white-color 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

.InActive {
  opacity: 0.5;
  cursor: default;
}
