@import "../../index.scss";

.PrimaryButton {
  color: $primary-color;
  border-radius: 5px;
  transition: $translation-time;
  background-color: $tertiary-color;
  width: 100%;
  padding: 10px;
  cursor: unset;
}

.Active {
  background-color: $white-color;
  cursor: pointer;
}
