@import "../../index.scss";

.PrimaryButton {
  padding: 5px 0;
  margin: 10px 0;
  outline: 0;
  border: 0;
  font-size: 40px;
  width: 400px;
  color: $primary-color;
  border-radius: 5px;
  transition: $translation-time;
  background-color: $white-color;

  cursor: pointer;
}

.InActive {
  width: 300px;
  background-color: $tertiary-color;
  cursor: unset;
}
