@use '../../../../index.scss' as index;

li{
    margin: 10px 0;
    .Room{
        padding: 5px 20px;
        text-decoration: none;
        color: index.$tertiary-color;
        cursor: pointer;
        font-size: 50px;
        transition: index.$translation-time;
    }

    .RoomActive {
        color: index.$primary-color;
        background-color: index.$white-color;
        border-radius: 10px;  
    }
}