@use '../../index.scss' as index;

.AnimatedBox {
  animation-name: slidein;
  animation-duration: index.$page-slidein-time;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: -2000px;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}
