@use '../../index.scss' as index;

.PrimaryTextFieldContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.PrimaryTextFieldContainer input {
  background-color: #fff;
  border-radius: 5px;
  border: index.$primary-color;
  text-align: center;
  color: index.$primary-color;
  width: 100%;
  padding: 10px;
  transition: 200ms;

  &:focus {
    border: lightgrey 1px solid;
    border-radius: 6px;
  }
}
