@use '../../index.scss' as index;

.PrimaryTextFieldContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
}
.PrimaryTextFieldContainer input {
  background-color: #fff;
  border-radius: 5px;
  border: index.$primary-color;
  text-align: center;
  color: index.$primary-color;
  transition: 200ms;
  &:focus {
    border: lightgrey 1px solid;
    border-radius: 6px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .PrimaryTextFieldContainer {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .PrimaryTextFieldContainer {
    width: 60%;
  }
}
