@use '../../../../index.scss' as index;

.Room {
  color: index.$tertiary-color;
  cursor: pointer;
  transition: index.$translation-time;
}
.RoomActive {
  color: index.$primary-color;
  background-color: index.$white-color;
  border-radius: 10px;
}
