/* This is the parent div of message and nickname*/
.MessageBubble {
  display: flex;
  flex-flow: column;
  margin: 5px;

  /* The nickname above the message */
  .Author {
    width: fit-content;
    margin: 4px 0 0 0;
  }
  /* This is the message itself */
  .Content {
    padding: 8px;
    border-radius: 0 15px 15px 15px;
    width: fit-content;
    color: #222;
    background-color: #f2dcbb;
    font-size: 18px;
    max-width: 50%;
    word-wrap: break-word;
  }
  .ItsMeContent {
    border-radius: 15px 0 15px 15px;
    color: #f2dcbb;
    background-color: #222;
  }
}

.ItsMeMessageBubble {
  align-items: flex-end;
}
